@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.contenedor{
    background-color: #bcbcb3;
}
body {
    /*fuente*/
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: #bcbcb3;
    width: 1300px;
    margin: auto;
    color: #2A4E2A;
}
header{
    background-color: #f2f2e55f;
    border: 2px;
    border-radius: 6px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(10px);
}
nav > ul{
    display: flex;
    gap: 200px;
    margin: 0px;
    padding: 0px;
    width: fit-content;
}
nav > ul > li {
    text-decoration: none;
    list-style: none;
    padding-inline: 4px;
}
nav > ul > li > a {
    text-decoration: none;
    color: #2A4E2A;
    transition: font-weight .2s;
}
nav > ul > li > a:hover {
    font-weight: 700;
}

.div-inicio{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 45px;
    width: 65%;
    font-size: larger;
}

.div-inicio-img{
    width: 40%;
}
.div-inicio-descripcion{
    width: 45%;
}

.propiedades{
    width: 60%; 
    margin: auto;
    margin-top: 70px;
    display: flex;
    gap: 50px;
}
.propiedades-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prop1{
    width: 150px;
    height: 80px;
    background-color: #324e2a5b;
    border: 2px;
    border-radius: 8px;
}
.prop2{
    width: 150px;
    height: 80px;
    background-color: #324e2a2f;
    border: 2px;
    border-radius: 8px;
}

h2{
    font-size: xxx-large;
    margin-bottom: 0px;
}

.descripciones{
    margin-top: 30px;
    margin-left: 100px;
}

.descripcion-titulo{
    font-size: medium;
    font-weight: 400;
}

#productos-estrella{
    margin-top: 100px;
    margin-bottom: 100px;
}

.tarjetas{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 30px;
}
.card{
    width: 350px;
    height: 400px;
    background-color: #324e2a5b;
    border: 2px;
    border-radius: 8px;
    padding: 10px;
}

.img-tarjeta{
    width: 290px;
    border: 1px;
    border-radius: 8px;
}